FRONTEND_URL=http://localhost:5173
PORT=3000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=farol

DATABASE_URL=postgresql://postgres:postgres@postgres:5432/farol

SALT_ROUNDS=6

JWT_ACCESS_SECRET=secret
JWT_REFRESH_SECRET=secret2

NODE_ENV=development